# Core library for document extraction
unstructured[pdf]

# Streamlit for the web application
streamlit

# Use the headless version of OpenCV for servers
opencv-python-headless

# Other dependencies
Pillow
lxml
numpy
pandas
scipy